Source: proxam-exam-client
Section: net
Priority: optional
Maintainer: ProXam <proxam@proxam.at>
Build-Depends: debhelper (>=9), config-package-dev, gettext
Standards-Version: 3.9.6
Homepage: https://github.com/Wojtasik-Lang-Consulting/proxam-exam-client

Package: proxam-exam-client
Architecture: all
Depends: wget,
    python3 (>= 3.6),
    zenity,
    coreutils,
    iptables,
    ffmpeg,
    screen,
    xdotool,
    python3,
    python3-wxgtk-webview4.0,
    python3-packaging,
    python3-requests
Recommends: logkeys
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: ProXam Exam Client for Lernstick
 Connects the Lernstick exam environment to the ProXam backend server.
 Implements the ProXam protocol for exam download, state
 reporting, student file transfer, and exam submission.
